.hr-line {
  width: 100%;
  border: 1px dashed #cbd2d9;
}

.restaurants-list {
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .restaurants-list {
    justify-content: flex-start;
  }
}

.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pagination-button {
  width: 32px;
  height: 32px;
  border: 1px solid #334155;
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
}

.page-count {
  font-family: Bree Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #334155;
}
