.cart-hr-line {
  border: 1px dashed #cbd2d9;
  width: 100%;
}

.cart-total-container {
  display: flex;
  justify-content: space-between;
}

.total-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #3e4c59;
}

.total-price {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-align: right;
  color: #3e4c59;
}

.order-button {
  background: #f7931e;
  border-radius: 8px;
  color: #ffffff;
  padding: 8px 16px;
  border: none;
}
