.payment-container {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-card {
  background: #ffffff;
  box-shadow: 0px 4.00734px 40.0734px rgba(23, 31, 70, 0.16);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
}

.payment-image {
  width: 64px;
  height: 64px;
}

.payment-heading {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #1e293b;
}
.payment-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #64748b;
}

.home-btn {
  background: #f7931e;
  border-radius: 8px;
  padding: 8px 16px;
  color: #ffffff;
  border: none;
}
